.inputWrap {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;

  width: 450px;
  font-size: 18px;
  color: #050505;
  /* margin-bottom: 15px; */
}

input {
  width: 450px;
  height: 50px;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  /* background: rgba(0, 0, 0, 0.3); */
  background-color: #e5e4e4bf;
  border: 1px solid #bababa;
  border-radius: 4px;
}

.input {
  width: 450px;
}

/* .input:hover {
  transform: scale(1.01);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */
