.link {
  display: inline-block;
  text-decoration: none;
  padding: 25px;
  font-weight: 800;
  color: #2a363b;
  position: relative;
}

.link.active {
  color: #c9b5a9;
}

.link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #d3bdb0;
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #e84a5f;
}
