.wrapModal {
  width: 500px;
  height: 400px;
  object-fit: cover;
  position: relative;
  border-radius: 7px;
  background-color: #fff;
  text-align: center;
}

.btnModal {
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */

  color: #020202;
  border: none;
  border-radius: 5px;
  background-color: #d3bdb0;
  margin-top: 25px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnModal:not(:last-child) {
  margin-right: 30px;
}

.btnModal:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* background-color: rgb(189, 189, 189); */
  background-color: rgb(14, 13, 13);
  color: #ffffff;
}
