:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #fffafa;
  background-size: 1200px;

  /* background: linear-gradient(-50deg, #d1520e, #0d4b97, #0d98be, #1c0dbe52); */
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
